
.room-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 equal columns */
    gap: 20px; /* Space between the cards */
    padding-left: 10%; 
    padding-right: 10%;
    padding-bottom: 10%;
  }
  
  @media (max-width: 1200px) {
    .room-list {
      grid-template-columns: repeat(3, 1fr); /* 3 cards per row  */
    }
  }
  
  @media (max-width: 900px) {
    .room-list {
      grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
    }
  }
  
  @media (max-width: 600px) {
    .room-list {
      grid-template-columns: 1fr; /* 1 card per row for mobile screens */
    }
  }
