
.footer {
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)), url('../../assets/footer.jpg');
    background-position: center;
    background-size: cover; 
    height: 600px;   
    color: #ffffffff;
    padding: 32px 16px;
    font-family: Arial, sans-serif;
  }
  
  .footer-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
  }
  
  .footer-section h4 {
    font-size: 18px;
    margin-bottom: 16px;
  }
  
  .footer-section p,
  .footer-section ul {
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }
  
  .footer-section ul {
    list-style: none;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
    font-size: 14px;
  }
  
  .footer-section a {
    color: white;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  /* Social Media */
  .social-media {
    text-align: center;
  }
  
  .social-media .social-icons a {
    font-size: 24px;
    margin-right: 8px;
    color: white;
  }
  
  .social-media .social-icons a:hover {
    color: #ccc;
  }
  
  /* Newsletter Section */
  .footer-newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
  }
  
  .footer-newsletter p {
    margin-bottom: 16px;
    font-weight: bold;
  }
  
  .newsletter-input {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .newsletter-input input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 300px;
  }
  
  .newsletter-input button {
    background-color: white;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .newsletter-input button:hover {
    background-color: #ccc;
  }
  
  /* Footer Bottom */
  .footer-bottom {
    text-align: center;
    margin-top: 32px;
    font-size: 20px;
    color: #ffffffff;
  }
  