body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px ;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  
  color: rgb(255, 255, 255);
}

.navbar.scrolled {
  background-color: #1a3e6a; /* Background when scrolled */
  box-shadow: 0px 2px 4px rgba(31, 120, 229, 0.111); /* Optional shadow */
}

.navbar-logo img {
  width: 120px; /* Adjust logo size */
  height: 100px;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 60px;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  position: relative;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 0;
  position: relative;
}

.navbar-links a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

.navbar-links a:hover::after {
  width: 100%; /* Underline animation on hover */
}

.navbar-bookbtn {
  background-color: #33b5e1;
  color: #ffffff;
  padding: 8px 24px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.2s;
}

.navbar-bookbtn:hover {
  background-color: #1c78b9;
  transform: scale(1.05);
}

/* Responsive Styles */
@media (max-width: 500x) {
  .navbar-links {
    display: none; /* Hide links on mobile */
  }

  .navbar-bookbtn {
    font-size: 14px;
  }
}
